// Mixins in here
// .center(@justify,@align){
//     display:flex;
//     justify-content: @justify;
//     align-items: @align;
// }
// .marg(){
//     margin: 0 auto;
// }
// .findMe(){
//     border: 1px solid red;
// }
// .underline(){
//     border-bottom: 2px dashed grey;
// }
// .column(){
//     flex-direction: column;
// }
// .full(){
//     width: 100%;
// }
// .button(@color,@text,@justify,@align,@border){
//     background: @color;
//     height: 4rem;
//     width: 100%;
//     font-size: 2rem;
//     color:@text;
//     border-radius: 1rem;
//     border: @border;
//     .center(@justify, @align)
// }
/////////////////////////////////////////////////////////






















/////////////////////////////////////////////////////
.center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
.findme(){
    border: 1px solid red;
}
.custom(@justify, @align){
    display: flex;
    justify-content: @justify;
    align-items: @align;
}
.btnmaker(@height, @width, @color, @text, @size, @px, @type, @border, @radius, @weight){
    .center();
    cursor: pointer;
    height: @height;
    width: @width;
    background-color: @color;
    color: @text;
    font-size: @size;
    border: @px @type @border;
    border-radius: @radius;
    font-weight: @weight;
}
.darker(@color, @percent){
    background-color: darken(@color, @percent);
}   
